:host {

    .card-list-row {
        display: flex;
        margin-left: 10px;

        .image-content{
            min-width: 96px;
            min-height: 96px;
        }

        .card-list-columns {
            display: inline;
            margin-left: 20px;
        }
    }

    p:last-of-type {
     margin-bottom: 5px;   
    }
}
.selectedToolbar{
    display: block;
    height: 40px; // 40px
    color: black;
}