@import '../../../styles.scss';

:host {
  display:block;

  select {
    min-width: 300px;
  }
}

.buttons {
    display: flex;
    padding-top:20px;
    
    .btn-grow {
        flex-grow: 1;
    }

    button.btn-plus {
        min-width: 30px;
    }
}

.user-list-view{
    position: relative;
    width: 300px;
    z-index: 20;
    background-color: $soho-graphite-1;
}

.user-item{
    border-right: 1px solid $color-border-grey;
    border-left: 1px solid $color-border-grey;
}