<div class="field">
  <span *ngIf="showReadonly" class="label disabled">
    {{ value || '&lt;empty&gt;' }}
  </span>
  <input type="text" *ngIf="showString" name="{{ name }}" placeholder="{{ placeholder }}" maxlength="{{ maxlength }}"
      [(ngModel)]="value" disabled="{{ disabled }}" datatype="{{ type }}" data-validate="string" validated>

  <input type="number" *ngIf="showNumber" name="{{ name }}" placeholder="{{ placeholder }}" disabled="{{ disabled }}"
      maxlength="{{ maxLength }}" [(ngModel)]="value" datatype="{{ type }}" data-validate="number" validated>

  <select *ngIf="showBoolean" soho-dropdown soho-busyindicator noSearch [(ngModel)]="value" name="{{name}}">
    <option selected disabled [value]="value">&lt;Value&gt;</option>
    <option *ngFor="let value of booleanValueset.value" [ngValue]="value.name">{{value.desc}}</option>
  </select>
  <select *ngIf="showDropdown" soho-dropdown soho-busyindicator noSearch [(ngModel)]="value" name="{{ name }}">
    <option selected disabled [value]="value">&lt;Value&gt;</option>
    <option *ngFor="let value of valueset.value" [ngValue]="value.name">{{ value.desc }}</option>
  </select>

  <input soho-datepicker *ngIf="showDatePicker" name="{{ name }}" placeholder="{{ SOHO_DATEPICKER_DATE_FORMAT }}"
      dateFormat="{{ SOHO_DATEPICKER_DATE_FORMAT }}" mode="standard" [(ngModel)]="value">

  <input soho-timepicker *ngIf="showTimePicker" name="{{ name }}" placeholder="{{ SOHO_DATEPICKER_TIME_FORMAT }}"
      timeFormat="{{ SOHO_DATEPICKER_TIME_FORMAT }}" showTime="true" mode="standard" [(ngModel)]="value" 
      datatype="{{ type }}" validated>

  <input soho-datepicker *ngIf="showDateTimePicker" name="{{ name }}" placeholder="{{ SOHO_DATEPICKER_DATE_FORMAT }}"
      dateFormat="{{SOHO_DATEPICKER_DATE_FORMAT}}" timeFormat="{{SOHO_DATEPICKER_TIME_FORMAT}}" showTime="true" mode="standard" 
      [(ngModel)]="value">
</div>