
#add-btn {
  margin-bottom: 18px;
}

.container {
  display: flex;
  height: calc(100% - 50px);

  .search-container {
    border-right: 1px solid #bdbdbd;
    display: inline-block;
    padding-left: 20px;
    padding-top: 20px;
  }

  .result-container {
    height: 100%;
    width: 100%;
    margin-left: 20px;
    overflow: auto;

    idm-search-result {
      width: 100%;
    }
  }
}

.tab-panel {
  padding-top: 0px; // Override SoHo style
}

.tab-container.horizontal { // Soho tab-container
  height: calc(100% - 60px); // Minus Soho header
  overflow: hidden;
  margin-bottom: 0px;

  div[soho-tab-panel] {
   height: 100%;
  }

  .tab-list > .tab a {
    // Override SoHo style
    // Total height of tab should be 50px
    padding: 18px 11px 16px; 
    line-height: 16px;
    div {
      pointer-events: auto;
      white-space: nowrap;
    }
  }
}

.idm-tab-title {
  display: flex;

  .idm-tab-icon {
    height: 16px;
  }

  .idm-tab-name {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .idm-tab-version {
    margin-left: 5px;
  }
}
